*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: gainsboro;
}
.contener{
margin: 0 auto;
max-width: 1440px;
height: 900px;
background-color: white;
margin-top: 100px;
display: flex;
}
.img{
    background-image: url(rasm.jpg);
    width: 50%;
height: 899.82px;
flex-shrink: 0;
}
.loginbox{
    display: flex;
    width: 50%;
    justify-content: center;
}
.loginheader{
    position: absolute;
}
.welcome{
    color: var(--800, #2D3748);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 232px;
}
.login{
    color: var(--900, #1A202C);
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.loginform{
    position: absolute;
    width: 350px;
height: 215px;
flex-shrink: 0;
padding-left: 34px;
}
.email{
    color: var(--800, #2D3748);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 350px;
height: 50px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #E8E8E8;
padding: 17px 1px 17px 20px;
}
.password{
    color: #000;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 350px;
height: 50px;
flex-shrink: 0;
border-radius: 5px;
border: 1px solid #E8E8E8;
padding: 17px 1px 17px 20px;
}
.loginform{
    margin-top: 312px;
    width: 350px;
height: 215px;
flex-shrink: 0;
display: flex;
}
.form{
    color: var(--700, #4A5568);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.emailw{
    color: var(--700, #4A5568);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.passwordw{
    color: var(--700, #4A5568);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.form{
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}
.remember{
    width: 100%;
    display: flex;
    padding-top: 28px;
    gap: 144px;
}
.radio{
    display: flex;
    gap: 11px;
    color: var(--800, #2D3748);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.forgot{
    color: var(--800, #2C5282);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;

}
.button{
    color: #FFF;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
width: 347px;
height: 50px;
flex-shrink: 0;
}
.green{
    border-radius: 5px;
background: #04C35C;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 15px;
}
.dark{
    border-radius: 5px;
background: var(--800, #2D3748);
display: flex;
justify-content: center;
align-items: center;
gap: 11px;
}
.bigbutton{
    margin-top: 557px;
padding-left: 68px;
position: absolute;
}
img{
    margin-bottom: 4px;
}
.footer{
    color: #616161;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.a{
    color: var(--700, #2B6CB0);
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}
a{
    text-decoration: none;
}
.footer1{
    padding-top: 1px;
    display: flex;
    gap: 5px;
    margin-top: 831px;
padding-left: 68px;

}
.button :hover{
    cursor: pointer;
}
